body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.container {
  text-align: center;
}

#logo-svg {
  width: auto;
  height: 100px;
  display: block;
  margin: 0 auto;
}

#logo-text {
  stroke-dasharray: 500;
  /* Augmenter cette valeur pour couvrir toute la longueur du texte */
  stroke-dashoffset: 500;
  /* Initialement tout caché */
  animation: write 4s forwards ease-in-out;
  /* Rallonger la durée de l'animation pour un effet plus fluide */
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
}

.tagline {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #555;
}

.socials {
  margin-top: 30px;
}

.socials a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: 700;
}


img {
  width: 5%;
}


/* Animation de l'écriture */
@keyframes write {
  0% {
    stroke-dashoffset: 500;
    /* Correspond à stroke-dasharray */
  }

  100% {
    stroke-dashoffset: 0;
    /* Le texte devient visible */
  }
}