/* Style global pour le body */
body {
  margin: 0;
  padding: 0;
  background-color: #292121f5;
  font-family: 'Montserrat', sans-serif;
  color: #e6cdcd;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #e6cdcd;
}

/* Animation pour le logo */
#logo {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 1s ease 1.5s, transform 1s ease 1.5s;
  margin-top: 30px;
}

#logo.show-logo {
  opacity: 1;
  transform: translateY(0);
  /* Le logo va arriver à sa position d'origine */
}

#logo-svg {
  width: 550px;
  height: 100px;
  display: block;
  margin: 0 auto;
  font-size: 4.5rem;
}

/* Wrapper pour le texte */
.wrapper {
  display: grid;
  place-items: center;
}

/* Animation de texte */
.typing-demo {
  margin: 35px auto 35px;
  width: 36ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.6rem;
}

.socials {
  margin-top: 30px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease 1.5s, transform 1s ease 1.5s;
}

.socials.show-socials {
  opacity: 1;
  transform: translateY(0);
}

/* Effet de hover sur les icônes de réseaux sociaux */
.socials a {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 700;
  transition: transform 0.3s ease;
}

.socials a:hover img {
  transform: scale(1.2);
}

/* Cercle rouge qui apparaît au hover */
.socials a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #292121;
  border-radius: 50%;
  transition: width 0.3s ease, height 0.3s ease;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.socials a:hover::before {
  width: 92px;
  height: 92px;
}

.container img {
  width: 3rem;
}

/* Animation de saisie pour le texte */
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


/* Ajout de l'animation du logo au départ */
#logo.show-logo {
  animation: showLogo 2s forwards;
}

@keyframes showLogo {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 605px) {
  .typing-demo {
    font-size: 1rem;
    margin: 10px 0;
  }

  #logo-svg {
    width: 350px;
    height: 100px;
    display: block;
    margin: 0 auto;
    font-size: 2.5em;
  }

  .container img {
    width: 2rem;
  }

  .socials a:hover::before {
    width: 62px;
    height: 62px;
  }
}